Library missing pointer syntax

Please consider implementing [Section 3 of RFC6901](https://tools.ietf.org/html/rfc6901#section-3) which provides pointer syntax. This is VERY useful for modifying the JSON structures. For example, suppose I have a program that takes a JSON file, and JSON pointer, a new value, then writes the updated JSON to the file:

```sh
$> ./json_update stuff.json /hello/foo/7 world
```

The code is easy to implement the update like this:
```scala
val json = read_json_from_file(args(0))
json(args(1)) = args(2)
write_json_to_file(json, args(0))
```

This is implemented nicely in the highly popular nlohmann::json C++ library: 
[see here](http://nlohmann.github.io/json/doxygen/classnlohmann_1_1json__pointer_a7f32d7c62841f0c4a6784cf741a6e4f8.html)

ID: 368
Original Author: nicmcd